* {
    box-sizing: border-box;
  }
  
  #popup {
    display: none;
  }
  
  .popupWrapper {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  
  .popupContainer {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 100px auto;
    max-width: 100%;
    padding: 20px;
    width: 500px;
  }
  
  .popupTitle {
    font-size: 26px;
    margin-bottom: 15px;
  }