@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*Tags gerais*/
p {
    margin-top: 0;
    margin-bottom: 0;
}

html, body {
    background: #E5E5E5;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

/* bloco do cabeçalho principal */
.cabecalho {
    position: relative;
    width: 100%;
    height: 727px;
    left: 0px;
    top: 0px;
    right: 0px;


    background: linear-gradient(96.56deg, #303030 56.29%, rgba(189, 147, 40, 0) 258.96%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.destaque_texto {
    color: #FD94D3 !important;
    font-size: 56px;
}

.destaque_subTexto {
    position: absolute;
    top: 290px;
    left: 160px;


    color: white !important;
    font-family: Muli;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.destaque_data {
    position: absolute;
    top: 390px;
    left: 20%;

    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}
.navbar {
    background: #303030 !important;
}

.navbar-logo {
    position: relative;
    left: 88px;
    top: 30px;
}

.nav-link {

    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF !important;
}

#nav-sobre {
    position: absolute;
    width: 200px;
    height: 23px;
    left: 693px;
    top: 67px;
    padding-right: 40px;
}

#nav-convidados {
    position: absolute;
    width: 102px;
    height: 23px;
    left: 863px;
    top: 67px;
    padding-right: 40px;
}

#nav-parcerias {
    position: absolute;
    width: 81px;
    height: 23px;
    left: 1005px;
    top: 67px;
    padding-right: 72px;
}

.cabecalho h2 {
    position: absolute;
    width: 540px;
    height: 170px;
    left: 196px;
    top: 212px;

    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

    color: #FFFFFF;
}

#clock {
    position: absolute;
    width: 275px;
    height: 83px;
    left: 225px;
    top: 588px;

    background: #C4C4C4;

    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.legenda {
    position: absolute;
    width: 41px;
    height: 20px;
    left: 225px;
    top: 643px;

    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    word-spacing: 30px;

    color: #000000;
}

.legenda p {
    margin-left: 5px;
}

td {
    padding: 0px 14px 0px 14px !important;
    text-align: left;
}

.destaque_direito {
    position: absolute;
    width: 490px;
    height: 427.15px;
    left: 841px;
    top: 191px;
}

/* Bloco de estilos "O Evento" */

.sobre {
    display: block;
    height: 800px;
    background-color: white;
}
.sobre h2 {
    position: absolute;
    width: 538px;
    height: 72px;
    left: 70px;
    top: 807px;

    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 88px;
    text-align: center;

    color: #000000;

    padding-bottom: 21px;
}

.sobre p {
    position: absolute;
    width: 753px;
    height: 240px;
    left: 144px;
    top: 950px;

    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 50px;
    text-align: justify;

    color: #000000;
}

.nav-btn-garantir {
    position: absolute;
    width: 228px;
    height: 62px;
    left: 1126px;
    top: 48px;

    background: #F0C530;

    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    border-style: none;

    color: #000000;
}

.btn-garantir {
    position: absolute;
    width: 275px;
    height: 70px;
    left: 525px;
    top: 601px;

    background: #F0C530;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    border-style: none;

    color: #000000;
}

.mulherLampada {
    display: block;
    position: relative;
    left: 70%;
    top: 180px;
}

/* Bloco de estilos de convidados */

.convidados {
    position: relative;
    width: 100vw;
    height: 1600px;
    left: 0px;
    top: -2%;

    background: #F0CCCA;
}

.convidados h4 {
    position: relative;
    margin-top: 10px;
    margin-left: 45%;
    margin-bottom: 30px;
    width: 280px;
    height: 69px;

    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    align-self: center;

    color: black;
}

.convidados-row {
    display: inline-flex;
    position: relative;
    width: 1000px;
    height: auto;
    left: 260px;
    margin-top: 10px;
    margin-bottom: 60px
}

.convidados-row-text {
    display: inline-flex;
    position: relative;
    width: 1100px;
    height: auto;
}

.imgLeft {
    position: relative;
    display: inline-flex;
    margin-right: 20px;
    margin-bottom: 70px;
    margin-top: -30px;
}

.imgRight {
    position: relative;
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 70px;
    margin-top: -10px;
}

.pLeft {
    text-align: left;
}

.pRight {
    text-align: right;
}

/* bloco de estilos de parcerias */

.parcerias {
    position: relative;
    background-color: white;
    margin-top: -2%;
    height: 800px;

}

.parcerias h1 {
    position: relative;
    width: 459px;
    height: 111px;
    left: 491px;

    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 88px;
    text-align: center;

    color: #000000;
}

.formigao {
    position: relative;
    left: 100px;
    border-radius: 40;
}

/*Bloco de estilos de cadastro */

.cadastro {
    display: block;
    position: relative;
    width: 45%;
    height: 500px;
}


.cadastro h1 {
    position: relative;
    top: 10px;
    text-align: center;

    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 151px;

    color: #000000;
}

.cadastro h2 {
    text-align: center;
    top: 33px;
    font-size: 32px;
}

.cadastro div p {
    position: relative;

    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    color: #000000;
}

/* bloco de estilos específico do formulário de cadastro */ 

form {
    position: relative;
    display: block;
    width: 570px;
    height: 614px;
    left: 728px;
    top: -150%;
    background: #F0CCCA;
    border-radius: 20px;
}

.cadastrase {
    position: relative;
    height: 100px;
    margin-top: 30px;

    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}


#nome {
    position: relative;
    width: 506px;
    height: 60px;
    left: 25px;

    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid black;

}

#email {
    position: relative;
    width: 506px;
    height: 60px;
    left: 25px;
    top: 40px;

    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid black;
}

.confirmar {
    position: relative;
    width: 280px;
    height: 77px;
    left: 25%;
    top: 140px;

    background: #F0C530;
    border: 6px solid rgba(240, 197, 48, 0.7);
    box-sizing: border-box;
    border-radius: 12px;

    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;

}

.formStyle p {
    position: relative;
    margin-top: 150px;

    font-size: 20px !important;
    text-align: center;

}

.mulheres {
    display: block;
    position: relative;
    margin-left: 90px;
    margin-top: 20px;
}

/*Bloco de estilos do rodapé */

footer {
    position: relative;
    width: 100vw;
    height: 150px;
    margin-top: 20%;
    background: #B5B4B4 !important;
}

.insta {
    position: absolute;
    left: 146px;
    top: 44px;
    bottom: -0.02%;
}

.face {
    position: absolute;
    left: 220px;
    top: 41px;
    bottom: 0.02%;
}

footer p {
    position: absolute;
    width: 228px;
    height: 23px;
    left: 85px;
    top: 98px;

    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    text-align: center;

    color: #000000;
}

.logo_final {
    position: absolute;
    width: 226px;
    height: 93px;    
    top: 44px;
    right: 46px;
}


/* Popup styles */

* {
    box-sizing: border-box;
  }
  
  #popup {
    display: none;
  }
  
  .popupWrapper {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  
  .popupContainer {
    background: #303030;;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 1px auto;
    max-width: 100%;
    padding: 20px;

    width: 940px;
    height: 724px;
  }
  
  .popupTitle {
    font-size: 26px;
    margin-bottom: 15px;

    text-align: center;

    width: 849px;
    height: 81px;
    left: 396px;
    top: 64px;

    font-family: Muli;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 88px;

    color: #F0C530;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .subTitle {
    text-align: center;

    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;

    color: #FFFFFF;
  }

  .popupContainer form {
    position: relative;
    margin-left: 30%;
    margin-top: 8%;
    background: #F8F8F8;
    width: 390px;
    height: 400px; 

    padding: 20px;
  }

  .nomePopup {
    position: absolute;
    left: 11%;
    top: 5%;

    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #000000;
}

#nomePopup {
    position: absolute;
    width: 306px;
    height: 40px;
    left: 11%;
    top: 15%;

    background: #CBCBCB;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.emailPopup {
    position: absolute;
    width: 306px;
    height: 40px;
    left: 11%;
    top: 35%;

    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #000000;
}

#emailPopup {
    position: absolute;
    width: 306px;
    height: 40px;
    left: 11%;
    top: 45%;

    background: #CBCBCB;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.confirmarPopup {
    position: absolute;
    width: 220px;
    height: 67px;
    left: 22%;
    top: 65%;

    background: #F0C530;
    border: 6px solid rgba(240, 197, 48, 0.7);
    box-sizing: border-box;
    border-radius: 12px;

    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;

}

.footMsg {
    position: absolute;
    color: black;
    font-size: 12px;
    top: 83%;
    left: 26%;
    text-align: center;
}

.popupMsg {
    position: relative;
    margin-right: 80%;


    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 60px;

    color: #FFFFFF;
}

.closeBtn {
    position: relative;
    left: 94%;
    bottom: 87%;
    width: 10px;
    height: 10px;
}